<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product Review FAQs Generator</title>
  <meta charset="utf-8">
  <meta name="viewport"
content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
  <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
</script>
</head>
<style>

</style>
<body>
 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>Review FAQs Generator<b></a>
    </div>
    <ul class="nav navbar-nav" id="menu">
      <li><a href="/review">BERT</a></li>
      <li><a href="/distillbert">DistilBERT</a></li>
      <li><a href="/mobilebert">MobileBERT</a></li>
      {% comment %} <li><a href="#">Page 3</a></li> {% endcomment %}
    </ul>
  </div>
</nav>
   {%block body%}

{% endblock body %}

</body>
<script>
$('#menu').on('click','li', function(){
   $(this).addClass('active').siblings().removeClass('active');
});
</script>
</html>





